---
const LINKS = [
    { href: "/", label: "Home" },
    { href: "/about-us", label: "About Us" },
]
function generateLinkStyle(href: string) {
    let style = "text-lg hover:(text-primary text-opacity-80)"

    if (href === Astro.url.pathname) style += " text-primary underline-offset-4 underline underline-wavy"
    else style += " text-black"

    return style
}
---

<header class="container mx-auto p-4 flex gap-8 items-center">
    <a href="/" class="justify-self-start self-center flex gap-1 items-center">
        <img src="Logo.svg" alt="Logo">
        <span class="text-xs md:text-sm">LinkHub.Space</span>
    </a>

    <nav class="flex items-center gap-4">
        {LINKS.map((link) => (
            <a
                href={link.href}
                class={generateLinkStyle(link.href)}
            >
                {link.label}
            </a>
        ))}
    </nav>

    <!-- <div class="justify-self-end self-center flex gap-6 font-semibold">
        {LINKS.map((link) => (
            <a
                href={link.href}
                class={generateLinkStyle(link.href)}
            >
                {link.label}
            </a>
        ))}
    </div> -->

    <!-- <div class="justify-self-end self-center">
        <button class="text-[18px] bg-primary text-basicWhite px-[21px] py-[5px] rounded-full">SignUp/Login</button>
    </div> -->
</header>