---
import ProfileDetail from "./ProfileDetail.astro"

const teamData = {
    aung : {
        title  : "Engineer",
        name : "Wai Lin Aung",
        fieldOfStudy : "Master of Computer Science",
        linkedInLink : "",
        whatsAppLink : "",
    },
    eingyin : {
        title  : "Sale",
        name : "Eingyin Khaing",
        fieldOfStudy : "Master of Digital Marketing",
        linkedInLink : "",
        whatsAppLink : "",
    },
    hanna : {
        title  : "Chairman",
        name : "Hanna Olsberg",
        fieldOfStudy : "Bachelor or High Tech Entrepreneurship",
        linkedInLink : "",
        whatsAppLink : "",
    },
    myna : {
        title  : "COO",
        name : "Iasmina Szabo",
        fieldOfStudy : "Master of Digital Marketing",
        linkedInLink : "",
        whatsAppLink : "",
    },
    rina : {
        title  : "Designer",
        name : "Yin May Ei",
        fieldOfStudy : "Master of Interaction Design",
        linkedInLink : "",
        whatsAppLink : "",
    },
    sai : {
        title  : "Engineer",
        name : "Sai Khay Khun Mong",
        fieldOfStudy : "Bachelor of Computer Science",
        linkedInLink : "",
        whatsAppLink : "",
    },
    shun : {
        title  : "CEO",
        name : "Shun Lai Thandar Aung",
        fieldOfStudy : "Master of Digital Marketing",
        linkedInLink : "",
        whatsAppLink : "",
    },
}

---


<main class="px-[20px] md:px-[120px] py-[48px] flex flex-col gap-8">

    <div class="flex w-full relative md:pl-[10%]">
        <img src="images/Hanna1.png" class="w-[128px] sm:w-[150px] md:w-auto"/>
        <div class="absolute left-[37%] top-[15%]">
            <ProfileDetail 
            data={teamData.hanna}
        />
        </div>
    </div>
    <div class="flex w-full relative justify-end md:pr-[200px]">
        <img src="images/Shun1.png" class="w-[130px] sm:w-[212px] md:w-auto"/>
        <div class="absolute left-[12%] md:left-auto md:right-[40%] bottom-0">
            <ProfileDetail 
            data={teamData.shun}
        />
        </div>
    </div>
    <div class="flex w-full relative md:pl-[8%]">
        <img src="images/Myna1.png" class="w-[204px] sm:w-[332px] md:w-auto"/>
        <div class="absolute right-0 md:right-[28%] bottom-[10%]">
            <ProfileDetail 
            data={teamData.myna}
        />
        </div>
    </div>
    <div class="flex w-full relative justify-end md:pr-[8%]">
        <img src="images/Eingyin1.png" class="w-[275px] sm:w-[464px] md:w-auto"/>
        <div class="absolute left-0 md:left-[15%] bottom-0s md:bottom-[15%]">
            <ProfileDetail 
            data={teamData.eingyin}
        />
        </div>
    </div>
    <div class="flex w-full relative ]">
        <img src="images/Rina1.png" class="w-[275px] sm:w-[464px] -translate-x-10 md:translate-x-0 md:w-auto"/>
        <div class="absolute right-0 md:right-[27%] bottom-[15%]">
            <ProfileDetail 
            data={teamData.rina}
        />
        </div>
    </div>
    <div class="flex w-full relative justify-end">
        <img src="images/Aung1.png" class="w-[216px] sm:w-[205px] md:w-auto"/>
        <div class="absolute left-0 md:left-[20%] bottom-[8%]">
            <ProfileDetail 
            data={teamData.aung}
        />
        </div>
    </div>
    <div class="flex w-full relative -translate-10">
        <img src="images/Sai1.png" class="w-[208px] sm:w-[205px] md:w-auto"/>
        <div class="absolute right-0 md:right-[10%] bottom-[20%]">
            <ProfileDetail 
            data={teamData.sai}
        />
        </div>
    </div>

</main>